.tweet{
	display: block;
	padding: .4em;
	margin: .4em 0;
}
.tweet-left{
	float: left;
	margin-right: 1em;
}
.tweet-left img, .entrant img{
	border: 2px solid #000000;
}
.tweet p.text{
	margin: 0;
	padding: 0;
}
.entrant{
	display: inline;
	padding: .4em;
	margin: .4em 0;
}
#losers{
	float: right;
	width: 45%;
}
#winners{
	float: left;
	width: 45%;
}